<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Title -->
    {% block pageTitle %} 
    {% endblock %}
    
    <!-- Page Meta -->
    {% block pageMetaTags %} 
    {% endblock %}
    
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../view-components/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../view-components/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
        .cs-page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }
        
        .cs-page-loading.active {
            opacity: 1;
            visibility: visible;
        }
        
        .cs-page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }
        
        .cs-page-loading.active>.cs-page-loading-inner {
            opacity: 1;
        }
        
        .cs-page-loading-inner>span {
            display: block;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            font-weight: normal;
            color: #737491;
        }
        
        .cs-page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #766df4;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }
        
        @-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        @keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
    <!-- Page loading scripts-->
    <script>
        (function() {
            window.onload = function() {
                var preloader = document.querySelector('.cs-page-loading');
                preloader.classList.remove('active');
                setTimeout(function() {
                    preloader.remove();
                }, 2000);
            };
        })();
    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../view-components/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="../view-components/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="../view-components/vendor/lightgallery.js/dist/css/lightgallery.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../view-components/css/theme.min.css">

</head>
<!-- Body-->

<body>
    <!-- Page loading spinner-->
    <div class="cs-page-loading active">
        <div class="cs-page-loading-inner">
            <div class="cs-page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    <main class="cs-page-wrapper">
        <!-- Sign In Modal-->
        <div class="modal fade" id="modal-signin" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="cs-view show" id="modal-signin-view">
                        <div class="modal-header border-0 bg-dark px-4">
                            <h4 class="modal-title text-light">Sign in</h4>
                            <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body px-4">
                            <p class="font-size-ms text-muted">Sign in to your account using email and password provided during registration.</p>
                            <form class="needs-validation" novalidate>
                                <div class="input-group-overlay form-group">
                                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-mail"></i></span></div>
                                    <input class="form-control prepended-form-control" type="email" placeholder="Email" required>
                                </div>
                                <div class="input-group-overlay cs-password-toggle form-group">
                                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-lock"></i></span></div>
                                    <input class="form-control prepended-form-control" type="password" placeholder="Password" required>
                                    <label class="cs-password-toggle-btn">
                      <input class="custom-control-input" type="checkbox"><i class="fe-eye cs-password-toggle-indicator"></i><span class="sr-only">Show password</span>
                    </label>
                                </div>
                                <div class="d-flex justify-content-between align-items-center form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="keep-signed">
                                        <label class="custom-control-label" for="keep-signed">Keep me signed in</label>
                                    </div><a class="nav-link-style font-size-ms" href="password-recovery.html">Forgot password?</a>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                                <p class="font-size-sm pt-3 mb-0">Don't have an account? <a href='#' class='font-weight-medium' data-view='#modal-signup-view'>Sign up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Menu-->
        <!-- Navbar (Floating light)-->
        <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
        <header class="cs-header navbar navbar-expand-lg navbar-dark navbar-floating navbar-sticky" data-scroll-header>
          <div class="container px-0 px-xl-3">
                <button class="navbar-toggler ml-n2 mr-2" type="button" data-toggle="offcanvas" data-offcanvas-id="primaryMenu"><span class="navbar-toggler-icon"></span></button>
                <a class="navbar-brand order-lg-1 mx-auto ml-lg-0 pr-lg-2 mr-lg-4" href="/index">
                    <!--<img class="navbar-floating-logo d-none d-lg-block" width="80" src="../view-components/bk/gfcc/logo.jpg" alt="Grace Family" />
                    <img class="navbar-stuck-logo" width="80" src="../view-components/bk/gfcc/logo.jpg" alt="Grace Family" />
                    <img class="d-lg-none" width="58" src="../view-components/bk/gfcc/logo.jpg" alt="Grace Family" />-->
                </a>
              <div class="d-flex align-items-center order-lg-3 ml-lg-auto">
                {% block loggedInMenu %}
                {% endblock %}
                    
                  <!--<a class="nav-link-style font-size-sm text-nowrap" href="#modal-signin" data-toggle="modal" data-view="#modal-signin-view"><i class="fe-user font-size-xl mr-2"></i>Sign in</a>-->
              </div>
              <div class="cs-offcanvas-collapse order-lg-2" id="primaryMenu">
                  <div class="cs-offcanvas-cap navbar-box-shadow">
                      <h5 class="mt-1 mb-0">Menu</h5>
                      <button class="close lead" type="button" data-toggle="offcanvas" data-offcanvas-id="primaryMenu"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="cs-offcanvas-body">
                      <!-- Menu-->
                      <ul class="navbar-nav">
                          <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                          <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Leagues</a>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/mens-league">Men</a></li>
                                  <li><a class="dropdown-item" href="/womens-league">Women</a></li>
                                  <li><a class="dropdown-item" href="/youth-league">Youth</a></li>
                              </ul>
                          </li> -->
                          <!--<li class="nav-item"><a class="nav-link" href="javascript:void">About Us</a></li>-->
                      </ul>
                  </div>
              </div>
          </div>
        </header>

        <!-- Page Background -->
        {% block pageContentBackground %} 
        {% endblock %}

        <!-- Member Add New Members Form -->
        {% block memberAddNewForm %}
        {% endblock %}

        <!-- Page Error -->
        {% block pageContentError %}
        {% endblock %}
    </main>
    <!-- Footer-->
    <footer class="cs-footer bg-dark pt-5 pt-md-6">
        <div class="container pt-3 pt-md-0">
            <div class="row align-items-center my-3 pt-4">
                <div class="col-md-6 order-md-1 mb-3">
                    <p class="font-size-sm mb-0"><span class="text-light opacity-50 mr-1">© All rights reserved. Made with <i class="fe-heart"></i> by</span><a class="nav-link-style nav-link-light" href="https://www.facebook.com/jossyshield" target="_blank" rel="noopener">ShieldOnn</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon fe-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="../view-components/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="../view-components/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../view-components/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="../view-components/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../view-components/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../view-components/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="../view-components/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="../view-components/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="../view-components/vendor/vendor/lg-video.js/dist/lg-video.min.js"></script>
    <!-- Main theme script-->
    <script src="../view-components/js/theme.min.js"></script>
</body>

</html>